:root
{
  background-color: var(--darkcolor);
  color: black; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;

  --darkcolor: #003d2b; 
  --lightcolor: #92d1a9; 
}

*{
  margin: 0; 
  padding: 0; 
}

img {
  max-width: 100%; /*Så att inte bilden blir större än sitt föräldra element*/
}

input{
height: 30px; 
font-family: Arial, Helvetica, sans-serif;
width: 200px; 
font-size: large;
cursor: pointer;
border: 2px dashed black;
}

input:focus{
  outline:none; 
}

select{
  height: 30px; 
  font-family: Arial, Helvetica, sans-serif;
  width: 200px; 
  font-size: large;
  appearance: none;
  outline: 0;
  cursor: pointer;
  border: 2px dashed black;
}



.container{
    min-height: 100vh;  
    display: flex;
    flex-direction: column;
    /*
    background-image: linear-gradient(var(--darkcolor), var(--lightcolor)); 
    background-image: url('/Users/ida/pear/src/shared/img/logo512.png');
    background-repeat: no-repeat;
    background-position:bottom left;   */
}


