:root
{
  background-color: var(--darkcolor);
  color: black; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;

  --darkcolor: #003d2b; 
  --lightcolor: #92d1a9; 
  /* --darkcolor: #7e7e7e; 
  --lightcolor: lightgrey;  */
}

*{
  margin: 0; 
  padding: 0; 
}

img {
  max-width: 100%; /*Så att inte bilden blir större än sitt föräldra element*/
}

.container{
    background-image: linear-gradient(var(--darkcolor), var(--lightcolor)); 
    box-sizing: border-box;
    min-height: 95vh; 
    padding-bottom: 20px;
    /*
    background-image: url('/Users/ida/pear/src/shared/img/logo512.png');
    background-image: linear-gradient(var(--darkcolor), var(--lightcolor)); 
    background-repeat: no-repeat;
    background-position:bottom left;   */
}


