.header-container{
    height: 200px; 
    text-align: right;
    margin-bottom: 20px; 
    background-color: black;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
font-size: 100px;
color: lightgray; 
}

