.header-container{
    height: 200px; 
    text-align: right;
    margin-bottom: 20px; 
    background-color: var(--darkcolor);
    color: var(--lightcolor); 
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
font-size: 5em; 
text-shadow: 2px 2px black;
}

