.header-container{
    height: 200px; 
    text-align: right;
    margin-bottom: 20px; 
    background-color: black;
    /* background-image: linear-gradient(black, lightgray); */
    color: white; 
}

